<h2 style="margin-bottom: 0px;margin-top: 10px;margin-left: -13px;">SALE ORDER DATA</h2>
<mat-form-field>
  <mat-label>Search</mat-label>
  <input matInput [(ngModel)]="searchText" placeholder="Ex. ium" #input>
</mat-form-field>


<mat-form-field class="example-full-width" style="    position: absolute;left:964;margin-left: 707px;">
    <mat-label>Email</mat-label>
    <input type="email" matInput [(ngModel)]="userMail"  #ctrl="ngModel" placeholder="Ex. pat@example.com" >
    
    </mat-form-field>
    <a (click)="sendmail()" class="fa fa-send fa-2x" style="position: relative;
    left: 894px;
    top: 6px;" ></a>

<div>

        


<table style="box-shadow: 0 0.5rem 1rem 0 rgb(0 0 0 / 90%);" class="table table-bordered tbox" id="exceltable" >
  <thead>
    <tr>
      <th (click)="sort('id')">SD DOCUMENT&nbsp;<i class="fa fa-sort"></i></th>
      <th>ITEM NUMBER</th>
      
      <th>DOCUMENT DATE</th>
      <th>MATERIAL</th>
      <th>SHORT TEXT</th>
      <th>DOCUMENT TYPE</th>
      <th>REQUIRED QUANTITY</th>
      <th>NET PRICE</th>
      <th>NET VALUE</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of inquirydat|filter:searchText|paginate:{itemsPerPage:10,currentPage:p}| orderBy:key:reverse">
      <td>{{data.SD_DOC}}</td>
      <td>{{data.ITM_NUMBER}}</td>
      <td>{{data.DOC_DATE}}</td>
      <td>{{data.MATERIAL}}</td>
      <td>{{data.SHORT_TEXT}}</td>
      <td>{{data.DOC_TYPE}}</td>

      <td>{{data.REQ_QTY}}</td>
      <td>{{data.NET_PRICE}}</td>
      <td>{{data.NET_VALUE}}</td>
    </tr>
  </tbody>
</table>
</div>
<h3 class="loader" style="text-align: center;" *ngIf="load">Loading...</h3>
<pagination-controls (pageChange)="p=$event" style="text-align: center;"></pagination-controls>
<div style="text-align: center;">
  <button style="border-radius: 1rem;margin-left: 45px;
  box-shadow: 0 0.5rem 1rem 0 rgb(0 0 0 / 90%);" class="btn orangebutton" (click)="exportexcel()">Export to Excel</button>

</div>