<h2 style="margin-bottom: 0px;margin-top: 10px;margin-left: -13px;">LIST OF DELIVERY</h2>
<mat-form-field>
  <mat-label>Search</mat-label>
  <input matInput [(ngModel)]="searchText" placeholder="Ex. ium" #input>
</mat-form-field>

<mat-form-field class="example-full-width" style="    position: absolute;left:964;margin-left: 707px;">
<mat-label>Email</mat-label>
<input type="email" matInput [(ngModel)]="userMail"  #ctrl="ngModel" placeholder="Ex. pat@example.com" >

</mat-form-field>
<a (click)="sendmail()" class="fa fa-send fa-2x" style="position: relative;
left: 894px;
top: 6px;" ></a>



<div>
<table style="box-shadow: 0 0.5rem 1rem 0 rgb(0 0 0 / 90%);" class="table table-bordered tbox" id="exceltable" >
  <thead>
    <tr>
      <th (click)="sort('id')">DOCUMENT NO&nbsp;<i class="fa fa-sort"></i></th>
      <th>PICKING DATE</th>
      <th>SHIP POINT</th>
      <th>DELIVERY DATE</th>
      <th>INCOTERMS</th>
      <th>NET WEIGHT</th>
      <th>TOTAL WEIGHT</th>
      <th>UNIT OF WEIGHT</th>
      <th>DELIVERY LOCATION</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of inquirydat|filter:searchText|paginate:{itemsPerPage:10,currentPage:p}| orderBy:key:reverse" (click)="gotoitem(data)">
      <td>{{data.VBELN}}</td>
      <td>{{data.KODAT}}</td>
      <td>{{data.VSTEL}}</td>
      <td>{{data.LFDAT}}</td>
      <td>{{data.INCO2}}</td>
      <td>{{data.NTGEW}}</td>
      <td>{{data.BTGEW}}</td>
      <td>{{data.GEWEI}}</td>
      <td>{{data.TZONIS}}</td>
    </tr>
  </tbody>
</table>
</div>
<h3 class="loader" style="text-align: center;" *ngIf="load">Loading...</h3>
<pagination-controls (pageChange)="p=$event" style="text-align: center;"></pagination-controls>
<div style="text-align: center;">
  <button style="border-radius: 1rem;margin-left: 45px;
  box-shadow: 0 0.5rem 1rem 0 rgb(0 0 0 / 90%);" class="btn orangebutton" (click)="exportexcel()">Export to Excel</button>

</div>