<section  id="owncontact">

  <div id="bg"></div>
  <div class="contact" style="top: 1300px;left: 200px;">
      <div class="envelope">
          <div class="top">
              <div class="outer"><div class="inner"></div></div>
          </div>
          <div class="bottom"></div>
          <div class="left"></div>
          <div class="right"></div>
          <div class="cover"></div>
          <div class="paper">
              <a class="call" href="tel:5555555555"><div class="i"></div>555 555 5555</a>
              <a class="mail" href="mailto:you@domain.com"><div class="i">@</div>you@doma.in</a>
          </div>
      </div>
  </div>
  
  </section>
  
      <div class="column" style="margin-left: 480px;">
        <form action="">
          <label for="fname">First Name</label>
          <input type="text" id="fname" name="firstname" placeholder="Your name..">
          <label for="lname">Email</label>
          <input type="email" id="lname" name="lastname" placeholder="Your last name..">
          
          <label for="subject">Subject</label>
          <textarea id="subject" name="subject" placeholder="Write something.." style="height:170px"></textarea>
          <input type="submit" value="Submit">
        </form>
      </div>
