
  <html>
        <head>
          <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha256-YLGeXaapI0/5IgZopewRJcFXomhRMlYYjugPLSyNjTY=" crossorigin="anonymous" />
          <link href="http://netdna.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
          <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
        </head>
        <body class="{{loader}}">
          <div class="container" >
            <div class="row">
              <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
                <div class="card card-signin my-5">
                  <div class="card-body">
                    <h2 class="card-title text-center" style="font-size: 2.5em;
                                                              letter-spacing: -2px;
                                                              color: #007bff;
                                                              font-family: lato;" >Customer Login</h2>
                    
                    <div class="svg-circle">
      
                      <img src="https://bootdey.com/img/Content/avatar/avatar7.png" style = "position:relative; left:12px; top:-12px;"alt="Admin" class="rounded-circle" width="125">
                    </div>
                    <form class="form-signin" autocomplete='off'>
                      <div class="form-label-group">
                        <input type="text" id="inputEmail" class="form-control" [(ngModel)]="name" [ngModelOptions]="{standalone:true}" placeholder="Email address" required autofocus>
                        <label for="inputEmail">    Customer ID</label>
                      </div>
        
                      <div class="form-label-group">
                        <input type="{{passtype}}" id="inputPassword" class="form-control" [(ngModel)]="password" [ngModelOptions]="{standalone:true}" placeholder="Password" name="id" required>
                        <label for="inputPassword">  Password</label>
                       
                      </div>
                      <i class="{{passicon}}" (click)="togglePassword()" style=" cursor: pointer;margin-left: 337px;cursor: pointer; z-index: auto;
                      position: absolute;
                      top: 301px;"></i>
        
                      <h6 class="text-center" style="color: red;" *ngIf="showError">Enter LoginId / Password</h6>
                      <h6 class="text-center" style="color:red;" *ngIf="showError1">Entered LoginId / Password is incorrect</h6>
                      <h5><a (click)="forgetpassword()" style="color: blue;">Forget Password?</a></h5>
                      <button style="border-radius: 1rem;height: 49px;
                      box-shadow: 0 0.5rem 1rem 0 rgb(0 0 0 / 90%);" class="btn btn-lg btn-primary btn-block text-uppercase" (click)="loginUser()" name="Password" type="submit">Login</button>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
      <h1 style="text-align: center;">or</h1>
          <button class="btn orangebutton" style="margin-left: 370px;margin-top: 0px;
          height: 48px;width: 380px;border-radius: 1rem; margin-bottom: 60px;
  box-shadow: 0 0.5rem 1rem 0 rgb(0 0 0 / 90%);" routerLink="/createCustomer">Create Customer</button>
          <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
          <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.1/TweenMax.min.js"></script>
          <script type="javascript" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/16327/MorphSVGPlugin.min.js?r=0.9.0"></script>
        </body>
      </html>
      
      